# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRY=24h


# Service Ports
AUTH_SERVICE_PORT=3001
EMPLOYEE_SERVICE_PORT=3002
LEAVE_SERVICE_PORT=3003
API_GATEWAY_PORT=3004


# MongoDB
MONGO_AUTH_URI=mongodb://mongodb-auth:27017/auth-db
MONGO_EMPLOYEE_URI=mongodb://mongodb-employee:27018/employee-db
MONGO_LEAVE_URI=mongodb://mongodb-leave:27019/leave-db

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672


# Consul
CONSUL_HOST=consul
CONSUL_PORT=8500


# Logstash
LOGSTASH_HOST=logstash
LOGSTASH_PORT=5000


# Jaeger
JAEGER_ENDPOINT=http://jaeger:14268/api/traces